body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 0;
    text-align: center;
}

td_1 {
    border: 1px solid #ddd;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}

/* 假设每行图片列宽相等，这里设置为20%（不包括标题列） */
td:not(:first-child) {
    width: 20%;
}

#pagination-controls {
    margin-top: 20px;
    text-align: center;
}
button {
    text-align: center;
}